.delivery{
    text-align: center;
    padding: 80px 120px;
}
.delivery h1{
    padding-bottom: 80px;
}
.process{
    grid-template-columns: repeat(5,1fr);
    place-items: center;
}
.icons{
    font-size: 60px;
    border: 2px solid #cac0af;
    padding: 10px;
    box-sizing: content-box;
    border-radius: 5px;
}
#mb{
    position: relative;
}
#mb::before{
    content:"dsadada";
    position: absolute;
    top: -30px;
    left: 0;
}