.hero{
    padding: 0 120px;
    background-color: #F0E9E0;
    position: relative;
    padding-bottom: 100px;
}
.top__section{
    /* border: 1p x solid black; */
    justify-content: center;
    background-color: #FAF5EC;
    filter: drop-shadow(-10px 15px 0 black);
    margin-bottom: 130px;
}
.hero::after{
    content: url(../../assets/image/blue-sphire.png);
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -1370px;
}

.shop__inner h3{
    font-size: 20px;
    font-family: "Recolata";
    font-weight: 700;
    margin-bottom: 10px;
}
.shop__inner h1{
    font-family: "Recolata";
    font-size:60px;
    font-weight: 800;
    margin-bottom: 40px;
}
.shop__inner button{
    display: flex;
    background-color:#FF6813;
    align-items: center;
    padding: 22px 80px 22px 35px;
    border-radius:100px;
    border:1px solid #353131 ;
    filter: drop-shadow(8px 5px 0 #000000);
    font-family: "Thoma";
    font-size: 20px;
}
.siappstore{
    margin-right: 16px;
}
.shop img{
    width: 470px;
    margin-left: 50px;
}

.coll__image{
    grid-template-columns: repeat(3,1fr);
    /* background-color: rgb(129, 129, 129); */
    justify-content: center;
    place-items: center;
}
.inner__grid img{
    width: 350px;
    margin-bottom: 30px;
}
.inner__grid{
    border: 2px solid #EBA8A8;
    border-radius: 20px;
}

/* !Collection */

.collection h2{
    font-size: 70px;
    font-weight: 800;
    font-family: "Recolata";
}
.collection__arrow{
    display: flex;
    justify-content: center;
    font-family: "Recolata";
    font-weight: 600;
    color: #575757;
    align-items: center;
    margin-bottom: 50px;
}
.collection__arrow p{
    margin-right: 200px;
}
.bsarrowupright{
    background-color: #FF6813;
    filter: drop-shadow(-5px -5px 0 black);
    padding: 20px;
    box-sizing: content-box;
    font-size: 50px;
    color: black;
    border-radius: 50%;
    cursor: pointer;
}

/* !Collection */


/* !Collection Grid */

.inner__grid__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    
}
.inner__grid{
    padding: 30px;
}
.inner__grid__title h3{
    font-family: "Recolata";
font-weight: 600;
margin-bottom: 10px;
font-size: 35px;
}
.start__list{
    display: flex;
    align-items: center;
    font-weight: 700;
}
.aioutlineheart{
    background-color: white;
    font-size: 20px;
    color: #FF6813;
    padding: 10px;
    border-radius: 50%;
    box-sizing: content-box;
    cursor: pointer;
}
.aifillstar{
    color: #FF6813 ;
}
.aifillstar:last-child{
    margin-right: 10px;
}
.price__section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price__section h4, h3{
    font-size: 24px;
    font-weight: 800;
    font-family: "Recolata";
}
.price__section h3{
    color: #C93032;
}

/* !Collection Grid */